#arena {
  width: 600;
  height: 600;
  border: 1px solid #000;
}

.ninja {
  position: absolute;
  background-image: url("../img/ninja.gif");
  background-repeat: no-repeat;
  height: 17;
  width: 17;
}

.shuriken {
  position: absolute;
  background-image: url("../img/shuriken.gif");
  background-repeat: no-repeat;
  height: 16;
  width: 16;
}

.samurai {
  position: absolute;
  background-image: url("../img/samurai.gif");
  background-repeat: no-repeat;
  height: 19;
  width: 17;
}